@model IndexModel
@{
    ViewData["Title"] = "Product Discount Calculator";
}
<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <form asp-controller="Home" asp-action="OnPost" method="post">
        <div class="form-group">
            <label for="rate">Product Description:</label>
            <input type="text" asp-for="@Model.ProductDescription" class="form-control" placeholder="Enter Product Description">
        </div>
        <div class="form-group">
            <label for="usd">List Price:</label>
            <input type="text" asp-for="@Model.ListPrice" class="form-control" placeholder="Enter List Price">
        </div>
        <div class="form-group">
            <label for="usd">Discount Percent:</label>
            <input type="text" asp-for="@Model.DiscountPercent" class="form-control" placeholder="Enter Discount Amount">
        </div>
        <button type="submit" class="btn btn-primary">Converter</button>
    </form>
</div>
