@model List<Product>;
@{
    ViewData["Title"] = "Home Page";
}

<p>@TempData["StatusMessage"]</p>
<form action="/home/CreateAndUpdate" method="post">
    <label for="Name">Name</label>
    <input type="text" name="Name" /><br>
    <label for="Brand">Brand</label>
    <input type="text" name="Brand" /><br>
    <label for="Description">Description</label>
    <input type="text" name="Description" /><br>
    <input type="submit" name="submit" />
</form>
<br />
<h4 class="text-primary">List Product Name</h4>
@foreach(var product in Model)
{
    <p>@product.Name</p>
    <hr />
}
