@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-9">
        <div class="col-sm-4 poly-prod">
            <div class="card card-default">
                <div class="card-header">
                    <h4 class="card-title"> Nokia </h4>
                </div>
                <div class="card-body">
                    <img src="images/computer.png" height="180" width="200" />
                </div>
                <div class="card-footer">
                    $ 100.25
                </div>
            </div>
        </div>
        <div class="col-sm-4 poly-prod">
            <div class="card card-default">
                <div class="card-header">
                    <h4 class="card-title"> Nokia </h4>
                </div>
                <div class="card-body">
                    <img src="images/computer.png" height="180" width="200" />
                </div>
                <div class="card-footer">
                    $ 100.25
                </div>
            </div>
        </div>
        <div class="col-sm-4 poly-prod">
            <div class="card card-default">
                <div class="card-header">
                    <h4 class="card-title"> Nokia </h4>
                </div>
                <div class="card-body">
                    <img src="images/computer.png" height="180" width="200" />
                </div>
                <div class="card-footer">
                    $ 100.25
                </div>
            </div>
        </div>
        <div class="col-sm-4 poly-prod">
            <div class="card card-default">
                <div class="card-header">
                    <h4 class="card-title"> Nokia </h4>
                </div>
                <div class="card-body">
                    <img src="images/computer.png" height="180" width="200" />
                </div>
                <div class="card-footer">
                    $ 100.25
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="poly-cart">
            <div class="panel">
                <div class="panel-body">
                    <img class="col-sm-5" src="images/shoppingcart.gif" />
                    <ul class="col-sm-7">
                        <li>100 items</li>
                        <li>$56.8</li>
                        <li><a href="#">Xem giỏ hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <input placeholder="Keywords" class="form-control" />
                </form>
            </div>
        </div>
        <div class="panel">
            <div class="panel-header">
                <span class="glyphicon glyphicon-th-list"></span>
                <strong>Chủng Loại</strong>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item">Điện thoại di động</a>
                <a href="#" class="list-group-item">Máy tính xách tay</a>
                <a href="#" class="list-group-item">Máy tính để bàn</a>
                <a href="#" class="list-group-item">Quạt máy</a>
                <a href="#" class="list-group-item">Tivi</a>
                <a href="#" class="list-group-item">Tủ lạnh</a>
            </div>
        </div>
    </div>
</div>
