<h1>Việt Nam</h1>
<hr />
<p>Bách khoa toàn thư mở Wikipedia</p>
<div style="text-align: justify;">
    <div style="text-indent: 50px; font-style: italic; font-weight: 500">
        Đối với các định nghĩa khác, xem 
        <a>Việt Nam (định hướng)</a> và các 
        <a>tên gọi của nước Việt Nam.</a>
    </div>
    <br />
    <div style="text-indent: 50px;">
        <b>Việt Nam</b>, tên chính thức là 
        <b>Cộng hòa xã hội chủ nghĩa Việt Nam,</b> là một 
        <a>quốc gia</a> nằm ở rìa 
        <a>phía đông</a> của 
        <a>bán đảo Đông Dương</a> thuộc 
        <a>khu vực Đông Nam Á</a> và giáp với 
        <a>Lào, Trung Quốc, Campuchia, Biển Đông</a> và 
        <a>vịnh Thái Lan. Thủ đô</a> là 
        <a>Hà Nội</a> từ năm 
        <a>1976, Thành phố Hồ Chí Minh</a> là 
        <a>thành phố</a> lớn nhất về 
        <a>dân số</a>. Việt Nam tuyên bố 
        <a>chủ quyền</a> với hai 
        <a>quần đảo Hoàng Sa</a> và 
        <a>Trường Sa</a> ở 
        <a>Biển Đông</a>. Việt Nam đã thiết lập 
        <a>quan hệ ngoại giao</a> với 188 
        <a>quốc gia</a> và là thành viên của 
        <a>Liên Hiệp Quốc, ASEAN, WTO, Phong trào không liên kết</a> cùng một số 
        <a>tổ chức quốc tế</a> khác.
    </div>
    <br />
    <div style="text-indent: 50px;">
        Trước khi là 
        <a>thuộc địa</a> của 
        <a>Pháp</a> từ nửa sau 
        <a>thế kỷ XIX</a>, quốc gia này có những giai đoạn 
        <a>lệ thuộc phong kiến Trung Quốc</a> và các 
        <a>triều đại</a> độc lập. 
        <a>Thất bại tại Điện Biên Phủ</a> năm 
        <a>1954</a> khiến 
        <a>Pháp</a> rút lui. Việt Nam 
        <a>chia cắt làm hai</a> rồi tái thống nhất sau khi 
        <a>Chiến tranh Việt Nam</a> kết thúc năm 
        <a>1975.</a> Năm 
        <a>1986, Đảng Cộng sản cải cách</a> đưa Việt Nam hội nhập với nền 
        <a>kinh tế toàn cầu</a>. Từ năm 
        <a>2000,</a> Việt Nam là một trong những 
        <a>nước đang phát triển</a> có tốc độ 
        <a>tăng trưởng kinh tế</a> nhanh nhất và đã hoặc đang đối mặt với những vấn đề về 
        <a>nghèo đói</a> và 
        <a>tham nhũng.</a>
    </div>
</div>
