@model int
@{ 
    ViewBag.Title = "Employee not found";
}
<div class="alert alert-danger">
    <h1>
        Error 404
    </h1>
    <hr />
    @*<h5>Employee with ID = @ViewBag.ID.ToString() can not be found</h5>*@
    <h5>Employee with ID = @Model can not be found</h5>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger" style="width:auto">
    Click here come back to see employees
</a>
