@{
    ViewBag.Title = "Resource not found";
}
<div class="alert alert-danger">
    <h1>
        @ViewBag.ErrorMessage
    </h1>
    <hr />
    <h5>Please contact administator lfc.vadillo@gmail.com</h5>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning" style="width:auto">
    Click here to navigate home page
</a>
