@{
    ViewData["Title"] = "Short Story";
}

<h1 class="text-primary">@ViewData["Title"]</h1>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a asp-controller="Home" asp-action="TableOfContents1" class="text-success">Table of contents 1: Fernando Torres</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Home" asp-action="TableOfContents2" class="text-success">Table of contents 2: Steven Gerrard</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Home" asp-action="TableOfContents3" class="text-success">Table of contents 3: Luis Suárez</a>
    </li>
</ul>
