@{
    ViewData["Title"] = "Short Story";
}

<h1 class="text-primary">@ViewData["Title"]</h1>
<br />
<h5 class="text-danger">Table of contents 3: Luis Suárez</h5>
<img src="~/images/suarez.jpg" style="width: 600px; height: 400px"/>
<div>
    <text>
        Luis Alberto Suárez Díaz là một cầu thủ bóng đá người Uruguay hiện đang là tiền đạo của FC Barcelona và Đội tuyển bóng đá quốc gia Uruguay.
        Khi còn ở Ajax, chủ yếu anh chơi trong vai trò của một tiền đạo hỗ trợ phía dưới Klaas-Jan Huntelaar và sau này là Marko Pantelić.
    </text>
</div>
