@{
    ViewData["Title"] = "Short Story";
}

<h1 class="text-primary">@ViewData["Title"]</h1>
<br />
<h5 class="text-danger">Table of contents 1: Fernando Torres</h5>
<img src="~/images/torres.jpg" style="width: 600px; height: 400px"/>
<div>
    <text>
        Fernando José Torres Sanz là một cựu cầu thủ bóng đá người Tây Ban Nha đã giải nghệ.
        Anh là một huyền thoại của câu lạc bộ Atlético Madrid và cũng là một trong những tiền đạo xuất chúng nhất mà bóng đá Tây Ban Nha từng sản sinh.
    </text>
</div>
