@{
    ViewData["Title"] = "Short Story";
}

<h1 class="text-primary">@ViewData["Title"]</h1>
<br />
<h5 class="text-danger">Table of contents 2: Steven Gerrard</h5>
<img src="~/images/gerrard.jpg" style="width: 600px; height: 400px"/>
<div>
    <text>
        Steven George Gerrard là một cựu cầu thủ bóng đá người Anh thi đấu ở vị trí tiền vệ trung tâm và hiện đang làm huấn luyện viên trưởng câu lạc bộ Rangers của Scotland.
        Anh là một huyền thoại của câu lạc bộ Liverpool.
    </text>
</div>
